* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(214, 213, 213);
}

header {
  background: url(./images/header-image.png) no-repeat center center / cover;
  width: 100%;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

header > h1 {
  color: white;
  font-size: 40px;
  font-weight: 100;
}

header > p {
  color: white;
  font-size: 20px;
}

header > button {
  background-color: rgb(123, 167, 164);
  border: none;
  border-radius: 5px;
  width: 130px;
  height: 40px;
  color: white;
  font-size: 20px;
}

header > p {
  text-align: center;
}

section {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;

}

.cardContainer {
  display: flex;
  flex-direction: column;
  width: 450px;
  gap: 10px;
  background-color: white;
}

.cardName {
  text-align: center;
  padding-top: 10px;
}
.cardImage{
  width: 450px;
  height: 250px;
}
.cardText {
  text-align: justify;
  padding: 10px;
}
