*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: white;
}
nav{
  display: none;
}
header{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  margin-bottom: 30px;
}
header > img{
  padding-left: 25px;
}
.menu-button{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 30px;
  width: 50px;
  height: 50px;
  background-color: #fff;
}
.menu-button-burger{
  width: 30px;
  height: 6px;
  background: gray;
  border-radius: 5px;
}
.menu-button-burger::before{
  content: '';
  position: absolute;
  width: 30px;
  height: 6px;
  background: gray;
  transform: translateY(-12px);
  border-radius: 5px;
}
.menu-button-burger::after{
  content: '';
  position: absolute;
  width: 30px;
  height: 6px;
  background: gray;
  transform: translateY(12px);
  border-radius: 5px;
}
/*first-section*/
.first-section-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 30px;
  margin-bottom: 50px;
}
#first-section-text{
  padding-top: 50px;
  margin-left: 30px;
  padding-bottom: 50px;
  display: flex;
}
.first-section-text > h3{
  color: rgb(214, 74, 160);
  margin-bottom: 30px;
}
.first-section-text > h1{
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  padding-bottom: 30px;
}
.first-section-text > p{
  font-size: 28px;
  line-height: 35px;
  margin-bottom: 30px;
}
.first-section-paragraph{
  display: none;
}
.first-section-text > button{
  height: 50px;
  width: 140px;
  border-radius: 30px;
  background-color: white;
  font-weight: bold;
  border: 3px solid rgb(214, 74, 160);
  font-size: 20px;
}
.second-image{
  display: none;
}
/*second section*/
#second-section{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 100px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(#d64aa0, orange);
}
#second-section > h1{
  font-size: 50px;
}
#second-section > p{
  font-size: 30px;
  padding-left: 6px;
}
#second-sectionTwo{
  display: none;
}
/*fourth section (3 praleista..)*/
#fourth-section{
  margin-top: 80px;
  margin-bottom: 80px;
  display: grid;
  justify-items: center;
  grid-template-rows: 50px 30px 50px;
  grid-template-columns: 30px 1fr 100px 1fr 30px;
}
.opendoor-logo{
  display: none;
}
.boom-logo{
  grid-area: 1 / 2 / 2 / 3;
}
.blimb-logo{
  grid-area: 1 / 4 / 2 / 5;
}
.qrco-logo{
  grid-area: 3 / 2 / 4 / 3;
}
.droplet-logo{
  grid-area: 3 / 4 / 4 / 5;
}
/*fift section*/
#fift-section{
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 50px;
}
.fift-section-textTwo{
  display: none;
}
.fift-section-text > h1{
  font-size: 40px;
  margin-bottom: 20px;
}
.fift-section-text > p{
  font-size: 25px;
  line-height: 35px;
  color:  rgb(92, 90, 90);
}
.link-open-sea{
  display: flex;
  padding-top: 2px;
}
.link-open-sea > p{
  font-size: 25px;
  color:  rgb(92, 90, 90);
}
#fift-section a{
  font-size: 25px;
  color:  rgb(92, 90, 90)
}

.card-container{
  display: flex;
  flex-direction: column;
  width:270px;
  height: 400px;
  margin-top: 50px;
}
.card-container > img{
  width: 100%;
  height: 65%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card-container2, .card-container3, .card-container4{
  display: none;
}
.card-bottom{
  width: 100%;
  height: 35%;
  background-color: rgb(238 238 238);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.card-bottom{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.bot-card-top-text{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.bot-card-mid-text{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.bot-card-bot-text{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.bot-card-top-text > p{
  font-size: 16px;
}
.bot-card-mid-text p{
  font-size: 20px;
  font-weight: bold;
}
.bot-card-bot-text > p{
  font-size: 18px;
  color: grey;
}
.card-text-color{
  color: rgb(255, 166, 0);
}
.card-text-color-grey{
  color: #808080;
}
.card-number-padding{
  padding-right: 60px;
}
.card-text-padding{
  padding-left: 15px;
}
.etherium-display{
  display: flex;
  align-items: center;
  padding-right: 15px;
}
/*sixth section*/
#sixth-section{
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  margin-left: 30px;
}
.sixth-section-text> h3{
  color: rgb(214, 74, 160);
  margin-bottom: 20px;
}
.sixth-section-text > h1{
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  margin-bottom: 20px;
}
.sixth-section-text > p{
  font-size: 28px;
  line-height: 35px;
  margin-bottom: 30px;
}
.sixth-section-text > button{
  height: 50px;
  width: 140px;
  border-radius: 30px;
  background-color: white;
  font-weight: bold;
  border: 3px solid rgb(214, 74, 160);
  font-size: 20px;
}
.green-lady-full-size{
  display: none;
}
.sixth-section-textTwo{
  display: none;
}
/*footer*/

footer{
  border-top: 3px solid gray;
  padding-top: 50px;
}
.social-media-footer{
  display: flex;
  margin-left: 30px;
  width: 400px;
}
.footer1{
display: flex;
flex-direction: column;
}
.footer1 > p{
  font-size: 26px;
  color: #5c5c5c;
  padding-left: 10px;
  margin-bottom: 20px;
}
.social-media{
  padding-left: 10px;
}
.footer2{
  display: grid;
  grid-template-rows: 1fr 30px 1fr;
  grid-template-columns: 1fr 0.7fr 1fr 1.5fr;
  gap: 5px;
  margin-left: 40px;
  margin-top: 50px;
}
.footer-about{
  display: flex;
  flex-direction: column;
  gap: 5px;
  grid-area: 1 / 1 / 2 / 2;
}
.footer-nft{
  display: flex;
  flex-direction: column;
  gap: 5px;
  grid-area: 1 / 3 / 2 / 4;
}
.footer-contact{
  display: flex;
  flex-direction: column;
  gap: 5px;
  grid-area: 3 / 1 / 4 / 2;
}
.footer-social{
  display: flex;
  flex-direction: column;
  gap: 5px;
  grid-area: 3 / 3 / 4 / 4;
}
h5{
  font-size: 30px;
  margin-top: 8px;
  margin-bottom: 5px;
  color: rgb(61, 61, 61);
}
.footer2 > div > p{
  font-size: 26px;
  color: #5c5c5c;
}
.cypyrigt{
  margin-left: 30px;
  color: grey;
  font-size: 25px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.footer-ending{
  display: none;
}
/*media - min-width 1200px*/
@media (min-width: 1200px) {
  .menu-button{
    display: none;
  }
  header{
    margin-top: 30px;
  }
  header > nav{
    display: unset;
    margin-right: 30px;
  }
  header > nav > ul{
    list-style-type: none;
    display: flex;
    gap: 15px;
  }
  header > nav > ul > li > a {
    text-decoration: none;
    font-size: 25px;
    color: grey;
  }
  .pink-sign-up{
    color: rgb(214, 74, 160);
  }
  /*first-section*/
  /*Įkėlus 1 sekcijos pilną image, header nuvažiuoja į kairę*/
  .first-section-paragraph-mobile{
    display: none;
  }
  .first-section-paragraph{
    display: unset;
  }
  button{
    margin-top: 30px;
  }
  /*second section*/
  #second-sectionTwo{
  display: unset;
  }
  #second-section{
    display: none;
  }
  #second-sectionTwo{
    padding-top: 230px;
    padding-right: 450px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(#d64aa0, orange, green);
    height: 400px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 20px;
  }
  #second-sectionTwo > h1{
    font-size: 50px;
    padding-right: 40px;
  }
  #second-sectionTwo > p{
    font-size: 27px;
    padding-left: 50px;
    
  }
  /*fourth section*/
  .opendoor-logo{
    display: unset;
  }
  #fourth-section{
    grid-template-columns: 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px 1fr 30px;
    align-items: center;
    justify-items: center;
    margin-bottom: 30px;
  }
  .boom-logo{
    grid-area: 1 / 2 / 3 / 3;
  }
  .blimb-logo{
    grid-area: 1 / 4 / 3 / 5;
  }
  .qrco-logo{
    grid-area: 1 / 6 / 3 / 7;
  }
  .opendoor-logo{
    grid-area: 1 / 8 / 3 / 9;
  }
  .droplet-logo{
    grid-area: 1 /10 / 3 / 11;
  }
  /*fift-section*/
  .fift-section-text{
    display: none;
  }
  .fift-section-textTwo{
    display: unset;
  }
  .fift-section-textTwo > h1{
    font-size: 40px;
  }
  .fift-section-textTwo > p{
    font-size: 25px;
    line-height: 50px;
    margin-top: 60px;
    color:  rgb(92, 90, 90);
  }
  .card-container2, .card-container3, .card-container4{
    display: unset;
  }
  .card-container2 > img, .card-container3 > img, .card-container4 > img{
    width: 100%;
    height: 65%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .card-container, .card-container2, .card-container3, .card-container4{
    display: flex;
    flex-direction: column;
    width:250px;
    height: 400px;
    margin-top: 50px;
  }
  #cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  /*sicth section*/
  .green-lady-cut{
    display: none;
  }
  .green-lady-full-size{
    display: unset;
    margin-right: 200px;
  }
  .sixth-section-textTwo{
    display: unset;
    margin-top: 60px;
  }
  .sixth-section-text{
    display: none;
  }
  .sixth-section-textTwo > h3{
    color: rgb(214, 74, 160);
    margin-bottom: 20px;
  }
  .sixth-section-textTwo > h1{
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
  }
  .sixth-section-textTwo > p{
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 30px;
  }
  .sixth-section-textTwo > button{
    height: 50px;
    width: 140px;
    border-radius: 30px;
    background-color: white;
    font-weight: bold;
    border: 3px solid rgb(214, 74, 160);
    font-size: 20px;
  }
  /*footer*/
  .footer2{
    display: flex;
    gap: 50px;
    margin: 0px;
    margin-right: 30px;
  }
  .footer-top{
    display: flex;
    justify-content: space-between
  }
  .footer-ending{
    display: unset;
    color: grey;
    font-size: 25px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-right: 30px;
  }
  .footer-bot{
    display: flex;
    justify-content: space-between;
  }
}