#sixth-section{
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 30px;
}
.sixth-section-text> h3{
  color: rgb(214, 74, 160);
  margin-bottom: 20px;
}
.sixth-section-text > h1{
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
}
.sixth-section-text > p{
  font-size: 28px;
  line-height: 35px;
  margin-bottom: 30px;
}
.sixth-section-text > button{
  height: 50px;
  width: 140px;
  border-radius: 30px;
  background-color: white;
  font-weight: bold;
  border: 3px solid rgb(214, 74, 160);
  font-size: 20px;
}
.green-lady-full-size{
  display: none;
}
.sixth-section-textTwo{
  display: none;
}
@media (min-width:1200px){
  .green-lady-cut{
    display: none;
  }
  .green-lady-full-size{
    display: unset;
    margin-right: 200px;
  }
  .sixth-section-textTwo{
    display: unset;
    margin-top: 60px;
  }
  .sixth-section-text{
    display: none;
  }
  .sixth-section-textTwo > h3{
    color: rgb(214, 74, 160);
    margin-bottom: 20px;
  }
  .sixth-section-textTwo > h1{
    font-size: 60px;
    font-weight: bold;
    line-height: 60px;
  }
  .sixth-section-textTwo > p{
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 30px;
  }
  .sixth-section-textTwo > button{
    height: 50px;
    width: 140px;
    border-radius: 30px;
    background-color: white;
    font-weight: bold;
    border: 3px solid rgb(214, 74, 160);
    font-size: 20px;
  }
}