body{
  margin: 0;
  padding: 0;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 70px;
  width: 150px;
}
.navbar {
  background-color: green;
  text-align: center;
  word-spacing: 30px;
  height: 50px;
  font-size: 35px;
  padding-top: 8px;
}
a {
  text-decoration: none;
  color: aliceblue;
}
#aboutus {
  background-color: grey;
  display: block;
  width: 100%;
}
.sandlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 500px;
padding-top: 20px;
padding-bottom: 20px;
}
h1 {
  display: block;
  background-color: green;
  color: white;
  margin-left: 65px;
  margin-right: 65px;
  text-indent: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}
p {
  display: block;
  margin-left: 65px;
  margin-right: 65px;
  text-align: justify;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  padding-top: 20px;
}
#contacts{
  background-color: aquamarine;
  margin-top: 0px;
  padding-top: 20px;
}