#bandymas1{
  background-color: rgb(255, 173, 173);
}
#bandymas2{
  background-color: rgb(173, 255, 174);
}
#bandymas3{
  background-color: rgb(173, 254, 255);
}
#bandymas4{
  background-color: rgb(255, 198, 245);
}

.nonDisplay{
  display: none;
}
