#saskaita > div{
  width: 500px;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 20px;
}

form{
  display:flex;
  justify-content: center;
}

#patiekalas0{
  margin-right: 20px;
}

.submitDiv{
  margin-left: 20px;
}

#saskaita{
  display: flex;
  margin-top: 20px;
}

.date{
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}

h4{
  text-align: center;
}

h1{
 text-align: center;
}

.bendraKaina{
  text-align: center;
}

ul li div{
  text-align: center;
}

h2{
  text-align: center;
}