@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

body{
  background-color: rgb(255, 173, 173);
}

#breakpoints{
  display: flex;
  justify-content: space-evenly;
}

/* task 1 */
#task1 h1{
  text-align: center;
}
#task1 > div{
  display: flex;
  justify-content: space-evenly;
}
#task1 > div > div{
  height: 400px;
  width: 200px;
  border: 3px solid black;
}
.name2, .name3{
  display: none;
}

/*task2*/
.mobile{
  display: none;
}
.tablet{
  display: none;
}
#task2 > h1{
text-align: center;
}
#container {
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.5fr 3fr repeat(3, 1fr);
}

.header, .menu, .hero, .main{
  color: aliceblue;
  text-align: center;
}
.image, .extra, .banner {
  text-align: center;
}

.header {
  background-color: rgb(5, 5, 93);
  grid-area: 1 / 1 / 2 / 2;
  padding-top: 12px;
}
.menu {
  background-color: red;
  grid-area: 1 / 2 / 2 / 5;
  padding-top: 12px;
}
.hero { 
background-color: rgb(47, 92, 188);
grid-area: 2 / 1 / 3 / 5;
padding-top: 125px
}
.main {
  background-color: rgb(67, 6, 100);
  grid-area: 3 / 1 / 5 / 3;
  padding-top: 80px;
}
.blank {
  grid-area: 3 / 3 / 5 / 3;
}
.image {
  background-color: rgb(145, 204, 184);
  grid-area: 3 / 4 / 4 / 5;
  padding-top: 40px;
}
.extra {
  background-color: rgb(27, 99, 75);
  grid-area: 4 / 4 / 5 / 5;
  padding-top: 40px;
}
.banner{
  background-color: rgb(180, 151, 19);
  grid-area: 5 / 1 / 6 / 5;
  padding-top: 40px;
}

@media (max-width: 1020px){
  body{
    background-color: rgb(166, 255, 225);
  }
  /* task 1 */
  .name1{
    display: none;
  }
  .name2{
    display: block;
  }
  #task1 > div{
    display: grid;
    justify-items: end;
    gap: 5px;
    grid-template-columns: 2fr 1fr;
  }
  #task1 > div :nth-child(1), #task1 > div :nth-child(2){
    height: 200px;
    width: 400px;
  }
  #task1 > div :nth-child(3){
    height: unset;
    grid-area: 1 / 2 / 3 / 3;
    justify-self: start;
  }
  /*task2*/
  .desktop{
    display: none;
  }
  .mobile{
    display: none;
  }
  .tablet{
    display: block;
  }
  .header{
    grid-area: 1 / 1 / 2 / 5;
  }
  .hero{
    grid-area: 2 / 1 / 3 / 5;
  }
  .menu{
    grid-area: 3 / 1 / 6 / 2;
  }
  .main{
    grid-area: 3 / 2 / 4 / 5;
  }
  .banner{
    grid-area: 4 / 2 / 5 / 5;
  }
  .extra{
    grid-area: 5 / 2 / 6 / 4;
  }
  .image{
    grid-area: 5 / 4 / 6 / 5;
  }

}
@media (max-width: 678px){
  body{
    background-color: rgb(157, 255, 255);
  }
  #breakpoints{
    display: block;
  }
  #breakpoints > div{
    width: 80%;
    margin: 0 auto;
  }
  /* task 1 */
  .name2{
    display: none;
  }
  .name3{
    display: block;
  }
  #task1 > div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #task1 > div :nth-child(3){
    height: 200px;
    width: 400px;
  }
  /*task2*/
  .desktop{
    display: none;
  }
  .tablet{
    display: none;
  }
  .mobile{
    display: block;
  }
  #container{
    display: block;
  }
}
